@charset "utf-8";
//登录主体部分
#login{
    width: 100%;
    .login{
        width: 1279px;
        height: 440px;
        background: #f0f0f0;
        margin: 0 auto;
        margin-top: 120px;
        .left{
            width: 500px;
            height: 300px;
            float: left;
            margin:{
                left: 40px;
                top: 20px;
            }
        }
        .right{
            float: right;
            width: 590px;
            height: 405px;
            color: #666;
            border: 1px solid #ccc;
            margin:{
                right: 40px;
                top: 20px;
            }
            p{
                font-size: 18px;
                padding:{
                    left: 12px;
                    top: 12px;
                    bottom: 20px;
                }
                color: #3164af;
                &::after{
                    content: "USER LOGIN";
                    color: #d8dee6;
                    font-size: 14px;
                    padding-left: 12px;
                }
            }
            .rightUl{    
                li{            
                    height: 40px;                               
                    font-size: 14px;                                                         
                    span{
                        font-size: 14px;
                        display: inline-block;
                        width: 110px;
                        text-align: right;
                        padding-right: 10px;                 
                        &::before{
                            content:"*";
                            color: red;
                            padding: 3px;
                        }  
                                                                
                    }  
                    #span{
                        float: left;
                    }          
                    #test{       
                        font-size: 26px;
                        float: left;
                    }
                    #testImg{
                        display:inline-block;
                        width:80px;              
                        float: left;
                        margin:{
                            top: 5px;
                        }                   
                        img{
                            width: 20px;
                            height: 30px;
                            float: left;
                        }
                    }
                    input{
                        width: 210px;
                        height: 18px;
                        padding: 4px;  
                        color: #666;
                        border-radius: 5px;
                        box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.075);                      
                    }
                    label{
                        font-size: 14px;
                        margin-right: 10px;
                    }
                    .isRememberUserName{
                        width: 13px;
                        height: 13px;
                        margin-right: 10px;
                        box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 1);                      
                    }
                    #checkCode{
                        width: 104px;
                        float: left;
                        margin-top: 5px;
                    }
                    b{
                        display: inline-block;
                        width: 112px;                      
                        padding-right: 10px;   
                    }
                    .submit{
                        width: 100px;
                        height: 35px;
                        color: #fff;
                        background: url(../imgs/login.gif);
                    }
                    .rules{
                        display: inline-block;
                        width: 531px;
                        height: 202px;
                        border: 1px solid #e6e6e6;
                        background: #f0f0f0;
                        color: #999;
                        line-height: 24px;
                        padding: 0 4px;
                        overflow-y: scroll;
                    }
                    a{
                        color: #666;
                        font-size: 14px;
                    }
                    em{
                        font-style: normal;
                        display: inline-block;
                        padding: 10px 0 5px 0;
                    }
                }
                .bigLi{
                    height:100px;
                    border:{
                        top: 1px solid #ccc;
                        bottom: 1px solid #ccc;
                    } 
                }
                .last{
                    em{
                        font-size: 18px;
                        color: #cc062d;
                    }
                    a{
                        color: #3164af;
                    }
                }
                .isRememberLi{
                    height: 20px;
                    a:hover{
                        color: red;
                    }
                }
                
            }
        }
    }
}

